<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">

    	<%= f.label :description, class: 'control-label' %>	

	<div class="controls">
		<%= f.text_area :description, :size => "100x4" %>	
	</div>
  </div>
  <div class="control-group">

  	<%= f.label :start, class: 'control-label' %>

	<div class="controls">
		<%= f.text_field :start, :value => (f.object.start.strftime("%m/%d/%Y %H:%M") if f.object.start) %>
	</div>    
  </div>
  <div class="control-group" >

  	<%= f.label :end , class: 'control-label'%>
	<div class="controls">
		<%= f.text_field :end, :value => (f.object.end.strftime("%m/%d/%Y %H:%M") if f.object.end) %>
	</div>
  </div>
  <div class="control-group">
	<h5>Assign this reminder to any contacts you might have</h5>
	<%= hidden_field_tag "reminder[contact_ids][]", nil %>
	<% current_user.contacts.each do |contact| %>
	<label class="checkbox">
		<%= check_box_tag "reminder[contact_ids][]", contact.id, @reminder.contact_ids.include?(contact.id), id: dom_id(contact), :class => 'checkbox' %>
		<%= label_tag dom_id(contact), contact.full_name, :class => 'checkbox' %>
		
	</label>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Create reminder', class: 'btn btn-primary' %>
  </div>
<% end %>
