<h1>Reminders</h1>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
  </tr>

<% @reminders.each do |reminder| %>
  <tr>
    <td><%= reminder.description %></td>
    <td><%= reminder.start %></td>
    <td><%= reminder.end %></td>
    <td><%= link_to 'Edit', edit_reminder_path(reminder), class: "btn btn-small btn-info" %></td>
    <td><%= link_to 'Delete', reminder, class: "btn btn-small btn-warning",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


