<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @reminder.description %>
</p>

<p>
  <b>Start:</b>
  <%= @reminder.start %>
</p>

<p>
  <b>End:</b>
  <%= @reminder.end %>
</p>

<p>
  <b>User:</b>
  <%= @reminder.user_id %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
