<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @contact.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
