<h2>Sign in please</h2>

<%= form_for @user_session do |f| %>

    <% if @user_session.errors.any? %>
        <div id="error" class="alert alert-error">
          <strong><%= pluralize(@user_session.errors.count, "error") %> prohibited:</strong>
          <ul>
            <% @user_session.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
    	<%= f.label :email %><br />
    	<%= f.text_field :email %>
  	</div>
  	<div class="field">
    	<%= f.label :password %><br />
    	<%= f.password_field :password %>
  	</div>
  	
    <p><%= f.submit "Sign in" %></p>

<% end %>