<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Just a reminder" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Just a reminder" %>"> 
  <%= stylesheet_link_tag "application", :media => "all" %> 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.timepicker.min.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<header class="navbar navbar-fixed-top" style="background-color: #333333; margin-left: auto;
        margin-right: auto;">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>
<div id="main" role="main">
  <div class="container" style="background-color: White; padding-left: 20px; padding-right: 20px; padding-top: 25px; margin-top: 10px;">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
      	<div>
      		<hr>
      		&copy; <%= Time.now.year %> Justareminder.com
      	</div>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
</body>
</html>
